ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  height: 100vh;
  letter-spacing: 0.05em;
  list-style: none;
}
li {
  width: 100%;
  font-size: 25px;
  border-bottom: solid #c49f6c;
}
@media screen and (max-width: 768px) {
}
